@model TCorp.EntityFramework.PredefinedDiscount

@{
    ViewBag.Title = "Vidljivost";
}

<h2>Uredi vidljivost za uloge</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>@Model.Name</legend>

        @Html.HiddenFor(model => model.Id)
        @{
    int i = 0;
    foreach (TCorp.EntityFramework.Role uloga in ViewBag.AllRoles) {
        <div class="editor-field">
            @{bool isVisible = Model.Role.Any(r => r.Id == uloga.Id);}
            @Html.CheckBox(String.Format("IsVisible[{0}]", i), isVisible) @uloga.Name
            @Html.Hidden(String.Format("Role[{0}]", i++), uloga.Id)
        </div><br />
    }
        }
        <p>
            <input type="submit" value="Save" class="btn btn-t" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Povratak", "Index", null, new { @class = "btn" })
</div>